
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap);
:root{
    --main-color: rgb(4, 18, 39);
    --color-dark: rgb(4, 18, 39);
    --text-grey:  rgb(109, 182, 204);
}
*{
    font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box;
}


.ti-menu-alt:hover{
    color: red;
}
.sidebar-toggle{
    display: none;
}
 span:hover{
    color: red;
 }
 button:hover{
    background: blue;
 }

.sidebar{
    height: 100%;
    width: 240px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background: var(--main-color);
    color:white;
    overflow-y: auto;
    transition: width 500ms;
}
.sidebar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0rem 1rem;
}
.sidebar-menu{
    padding: 1rem;
}
.sidebar li{
    margin-bottom: 1.2rem;
}
.sidebar a{
    color: white;
    font-size: .9rem;
}

.sidebar a span:last-child{
    padding-right: .6rem;
    transition: right 500ms;
}

#sidebar-toggle:checked ~ .sidebar {
    width: 60px;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
#sidebar-toggle:checked ~ .sidebar li span:last-child
{
        display: none;
       
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header,
#sidebar-toggle:checked ~ .sidebar li
{
      display: flex;
      justify-content: center;
       
}

#sidebar-toggle:checked ~ .main-content {
    margin-left: 60px;
}

#sidebar-toggle:checked ~ .main-content header {
    width: calc(100% - 60px);
    transition: width 500ms;
}

.main-content{
   background: rgb(228, 235, 240);
    margin-left: 240px;
    transition: margin-left 500ms;
   
}
header{
    position: fixed;
    right: 0px;
    top: 0;
    z-index: 100;
    width: calc(100% - 240px);
    background: rgb(228, 235, 240);
    height: 60px;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: width 500ms;
}

.search-wrapper{
    display: flex;
    align-items: center;
    background: white;
}
.main-content input{
    border: 0;
    outline: 0;
    padding: 1rem;
    height: 30px;
}
.social-icons{
    display: flex;
    align-items: center;
}
.social-icons span
{
    margin-left: 1.2rem;
    margin-top: 3rem;
    font-size: 20px;

    
}
.social-icons div{
    margin-left: 1.2rem;
    height: 38px;
    width: 38px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/images.jpg);
    border-radius: 50%;
}

main{
    margin-top: 60px;
    min-height: 90vh;
    padding: 1rem 1rem;
   
}

/*partie ajouter debut*/

.tout{
    width: 100%;
    background: url(../img/d228ee1c86849d570c8bb21e3849c415.jpg) no-repeat;
    background-size: 100%;
    color: white;
}
.tout2{
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.contenu{
    width: 100%;
    display: inline-flex;
}
.services{
    width: 40%;    
    margin-left: 4rem;
}

.services h4{
    margin-top: 1rem;
    text-align: center;
    font-size: 1.2rem;
}
.recherche{
    width: 100%;
   
   
}


.recherche .search-wrapper{
    display: flex;
    align-items: center;
    background: white;
    width: 100%;
    height: 2.5rem;
    
   
   
}
.select{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.recherche .search-wrapper select{
    background: white;
    width: 20rem;
   display: inline-flex;
   margin: 1rem;
   height: 2.5rem;
   
   
}
.recherche .search-wrapper span{
    margin-left: 0.5rem;
}

.prestation{
    margin: 2rem 10rem 0rem 10rem;
    align-items: center;
   
}
.tout .recherche .search-wrapper button{
   background: white;  
   color: black;
   border-radius: 0px;
   height: 1rem;
  
  
}


.prestation h4{
    text-align: center;
    font-size: 1.3rem;
 
 }


@media only screen and (max-width: 2560px){

        
.tout{
    width: 100%;
    background: url(../img/d228ee1c86849d570c8bb21e3849c415.jpg);
    background-size: 100%;
    color: white;
}
.services{
    width: 40%;    
    margin-left: 7rem;
}
label{
    font-size: 1.3rem;
}
span{
    font-size: 1.2rem;
    margin-bottom: 2rem;
} 


.services h4{
    margin-top: 1rem;
    text-align: center;
    font-size: 1.3rem;
}
.recherche{
    width: 100%;
   
   
}


.recherche .search-wrapper{
    display: flex;
    align-items: center;
    background: white;
    width: 100%;
    height: 2.5rem;
    
   
   
}
.select{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.recherche .search-wrapper select{
    background: white;
    width: 20rem;
   display: inline-flex;
   margin: 1rem;
   height: 2.5rem;
   font-size: 1.2rem;
   
   
}
.recherche .search-wrapper span{
    margin-left: 0.5rem;
}

.prestation{
    margin: 2rem 20rem 0rem 20rem;
    align-items: center;
   
}

}

@media only screen and (min-width: 1920px){
        
.tout{
    width: 100%;
    background: url(../img/d228ee1c86849d570c8bb21e3849c415.jpg);
    background-size: 100%;
    color: white;
}
.services{
    width: 40%;    
    margin-left: 5rem;
}
label{
    font-size: 1.1rem;
}

h4{
    font-size: 1.2rem;
}
.recherche{
    width: 100%;
   
   
}


.recherche .search-wrapper{
    display: flex;
    align-items: center;
    background: white;
    width: 100%;
    height: 2.5rem;
    
   
   
}
    h3{
        font-size: 1.5rem;
    }
.select{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.recherche .search-wrapper select{
    background: white;
    width: 15rem;
   display: inline-flex;
   margin: 1rem;
   height: 2.5rem;
   
   
}
span{
    font-size: 1rem;
    padding-bottom: 1.2rem;
}

.prestation{
    margin: 2rem 20rem 0rem 20rem;
    align-items: center;
   
}
select{
    font-size: 1rem;
    width: 40rem;
}
button{
    width: 10rem;
    height: 3rem;
    font-size: 1,1rem;

  
}

button{
    width: 8rem;
    height: 3rem;
    background:var(--color-dark);
    overflow:  var(--color-dark);
    border-radius: 15px;
    color: white;
    border: 0px;  
    margin: 1rem 1rem 1rem 1rem;
    font-size: 1.1rem;
    float: right;

  
}

}

@media only screen and (max-width: 1660px){
        
    .tout{
        width: 100%;
        background: url(../img/d228ee1c86849d570c8bb21e3849c415.jpg);
        background-size: 100%;
        color: white;
    }
    .services{
        width: 40%;    
        margin-left: 4.5rem;
    }
    .services h4{
        font-size: 1rem;
    }
    
    .recherche .search-wrapper{
        display: flex;
        align-items: center;
        background: white;
        width: 100%;
        height: 2.5rem;
        
       
       
    }
    label{
        font-size: 1rem;
    }
        h3{
            font-size: 1rem;
        }
        h4{
            font-size: 1rem;
        }
    .select{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .recherche .search-wrapper select{
        background: white;
        width: 15rem;
       display: inline-flex;
       margin: 1rem;
       height: 2.5rem;
       font-size: 0.9rem;
       
       
    }
    span{
        font-size: 0.8rem;
        padding-bottom: 1.2rem;
    }
    
    .prestation{
        margin: 2rem 15rem 0rem 15rem;
        align-items: center;
       
    }

    
    }

@media only screen and (max-width: 1200px)
    
{
        


    
    .sidebar {
    width: 60px;
    z-index: 150;
    }

    .sidebar .sidebar-header h3 span,
    .sidebar li span:last-child
    {
            display:none; 
        
    }
    .sidebar .sidebar-header,
    .sidebar li
    {
        display: flex;
        justify-content: center;
        
    }

    .main-content {
        margin-left: 60px;
    }
    .main-content header {
        left: 60px;
        width: calc(100% - 60px);
    }
    #sidebar-toggle:checked ~ .sidebar {
        width: 240px;
    }

    #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
    #sidebar-toggle:checked ~ .sidebar li span:last-child
    {
            display:inline; 
        
    }

    #sidebar-toggle:checked ~ .sidebar .sidebar-header

    {
        display: flex;
        justify-content: space-between;
        
    }

    #sidebar-toggle:checked ~ .sidebar li
    {
        display: block;
    
        
    }

    #sidebar-toggle:checked ~ .main-content {
        margin-left: 60px;
    }

    

}

button{
    width: 8rem;
    height: 3rem;
    background:var(--color-dark);
    overflow:  var(--color-dark);
    border-radius: 15px;
    color: white;
    border: 0px;  
    margin: 1rem 1rem 1rem 1rem;
    font-size: 1.1rem;
    
  
}

@media only screen and (max-width: 860px)
    
{
    
.tout{
    width: 100%;
    background: url(../img/d228ee1c86849d570c8bb21e3849c415.jpg);
    background-size: 100%;
    color: white;
}
.services{
    width: 40%;    
    margin-left: 1.5rem;
}
label{
    font-size: 0.8rem;
}

.services h4{
    margin-top: 1rem;
    text-align: center;
    font-size: 0.8rem;
}
.recherche{
    width: 100%;
   
   
}


.recherche .search-wrapper{
    display: flex;
    align-items: center;
    background: white;
    width: 100%;
    height: 2.5rem;
    
   
   
}
.select{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.recherche .search-wrapper select{
    background: white;
    width: 5rem;
   display: inline-flex;
   margin: 1rem;
   height: 2.5rem;
   font-size: 0.8rem;
   
   
}
.recherche .search-wrapper span{
    margin-left: 0.5rem;
}

.prestation{
    margin: 2rem 2rem 0rem 2rem;
    align-items: center;
   
}

    
    .dash-cards{
        grid-template-columns: repeat(2,1fr);
    }
    .card-single{
        margin-bottom: 1rem;
    }
    .activity-grid{
        display: block;
    }

}

@media screen and (max-width: 600px)
    
{
    main{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .dash-cards{
        grid-template-columns: 100%;
    }

}

@media screen and (max-width: 450px)
    
{
    
     main{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=file], input[type=date],input[type=number] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
select{
    width: 100%;
    padding: 5px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color:var(--main-color);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}