{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Document</title>
</head>
<body>

    <input type="checkbox" id="sidebar-toggle">
      {% include 'sidebar.html' %}
       <div class="main-content">
        <header>
            <form action="" method="get" class="search-wrapper">
              <button type="submit"><span class="ti-search"></span></button>
                <input type="search" name="client" placeholder="search">
            </form>
            <div class="social-icons">
                <span class="ti-bell"></span>
                <span class="ti-comment"></span>
                <div></div>
            </div>
           
        </header>
        <main>
            <h2 class="dash-title">page clients</h2>
           
            <section class="recent">
                <div class="activity-grid">
                        
                    <div class="activity-card">
                        <h3>liste de tous nos clients</h3>

                        <div class="table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Telephone</th>
                                        <th>Nom du client</th>
                                        <th>service sollicite</th>
                                        <th>Jour de visite</th>
                                        <th>Prix</th>
                                        <th>Modifier</th>
                                        <th>details</th>
                                        <th>Supprimer</th>
                                        <th>Frequence de visite</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for item in clients %}
                                <tr>
                                        <td>{{item.client.phone}}</td>
                                        <td>{{item.client.name}}</td>
                                        <td>{{item.last_command.service}}</td>
                                        <td>{{item.last_command.created_at}}</td>
                                        <td>{{item.last_command.service.prix}}</td>
                                        <td><button><a href="client/{{item.client.id}}/new_command">nouveau</a></button></td>
                                        <td><button><a href="client/{{item.client.id}}">details</a></button></td>
                                        <td> <button onclick="document.getElementById('id01').style.display='block'">Supprimer</button></td>
                                        <td><center>{{item.frequence}}</center></td>
                                   </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        
                    </div> 
                
                </div>
            </section>
            <!--formulaire de suppression-->
            <div id="id01" class="sup">
              <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">fermer</span>
              <form action="" method="" class="sup1">
                <h4>Voulez vous vraiment supprimer? <span id="userId"></span></h4>
                <div class="but">
                      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Annuler</button>
                      <button type="submit" class="signup">confirmer</button>
                </div>
                  <script>

                      var userId = document.getElementById('userId')
                      console.log(selectedId)
                      userId.innerHtml = selectedId;
                  </script>
              </form>
            </div>

            <!--formulaire ajouter-->
            <div id="id02" class="modal">
                <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">fermer</span>
                <form class="modal-content" action="" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="container">
                    <h6>Remplissez moi</h6>
                      {% csrf_token %}
                      {{form.as_p}}
                    <div class="clearfix">
                      <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
                      <button type="submit" class="signup">enregistre</button>
                    </div>
                  </div>
                </form>
              </div>

              <button onclick="document.getElementById('id02').style.display='block'">Ajouter</button>

              
              
        </main>
       </div>
   
    
       <script>

        // Get the modal
        var modal = document.getElementById('id02');


        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
        </script>

<script>

  // Get the modal
  var modal = document.getElementById('id01');
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
  </script>
</body>
</html>