<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="connexion.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h2>Remplissez le formulaire de connexion</h2>
      </header>
    
    <div class="tout">
        <main>
            <div class="contain">
            <form action="">
                <div class="container">
                  <h1>Register</h1>
                 
                  <hr>
              
                  <label for="email"><b>Email</b></label>
                  <input type="text" placeholder="Enter Email" name="email" id="email" required>
              
                  <label for="psw"><b>Password</b></label>
                  <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
              
                  <label for="psw-repeat"><b>Repeat Password</b></label>
                  <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
                  <hr>
              
                  <button><a href="homepage.html">retour</a></button>
                  <button type="submit" class="registerbtn">Soumettre</button>
                </div>
              
                
              </form>
            </div>
        </main>
    </div>
</body>
</html>