{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/connexion.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <h2>Remplissez le formulaire de connexion</h2>
      </header>
    
    <div class="tout">
        <main>
            <div class="contain">
            <form action="" method="post" enctype="multipart/form-data" >
                {% csrf_token %}
                <div class="container">
                  <h1>Connexion</h1>
                 
                  <hr>
              
                  <label for="nom"><b>Nom entreprise</b></label>
                  <input type="text" placeholder="Enter le nom de l'entreprise" name="nom" id="nom" required>
              
                  <label for="psw"><b>Mot de passe</b></label>
                  <input type="password" placeholder="Enter mot de passe" name="psw" id="psw" required>
              
                  <hr>
              
                  <button><a href="{% url 'home' %}">retour</a></button>
                  <button type="submit" class="registerbtn">Soumettre</button>
                </div>
              
                
              </form>
            </div>
        </main>
    </div>
</body>
</html>