{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <input type="checkbox" id="sidebar-toggle">
    {% include 'sidebar.html' %}
       <div class="main-content">
        <header>
            <form action="" method="" class="search-wrapper">
                <span class="ti-search"></span>
                <input type="search" placeholder="search">
            </form>
            <div class="social-icons">
                <span class="ti-bell"></span>
                <span class="ti-comment"></span>
                <div></div>
            </div>
           
        </header>
        <main>
            
            <section class="recent">
                <div class="activity-grid">
                        
                    <div class="activity-card">
                        <h5>Nom client : {{client.name}}</h5>
                        <h5>Telephone client : {{client.phone}}</h5>
                        <h5>quartier du client : {{client.quartier}}</h5>
                        <h5>fonction du client : {{client.profession}}</h5>
                        <h5>Total services : {{compte}}</h5><br>

                        <div class="table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>service sollicite</th>
                                        <th>Jour de visite</th>
                                        <th>Montant</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for item in comandes%}
                                   <tr>
                                        <td>{{item.service}}</td>
                                        <td>{{item.done_at}}</td>
                                        <td>{{item.amount}}</td>
                                   </tr>
                                {% endfor %}
                                  
                                </tbody>
                            </table>
                        </div>
                        
                    </div> 
               
                </div>
            </section>
            <button><a href="{% url 'client' %}">retour</a></button>
        </main>
       </div>
   
    
</body>
</html>