{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=!, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="{% static 'css/prestation.css' %}">
    <title>Document</title>
</head>
<body>
    <input type="checkbox" id="sidebar-toggle">
    {% include 'sidebar.html' %}
       <div class="main-content">
        <header>
            <form class="fd">
                <span></span>
                
            </form>
            <div class="social-icons">
                <span class="ti-bell"></span>
                <span class="ti-comment"></span>
                <div></div>
            </div>
           
        </header>
        <main>
           
        <div class="tout">     
                   

                    <div class="recherche">
                    <form class="search-wrapper" method="get">
                        <button type="submit"><span class="ti-search"></span></button>
                        <div class="select">
                            <select name="client_search" id="">
                                {%for item in clients%}
                                <option>{{item}}</option>>
                                {%endfor%}
                            </select>
                            <select name="service_search" id="">
                                 {%for item in services%}
                                <option>{{item}}</option>>
                                {%endfor%}
                            </select>
    
                        </div>
                       
                    </form>

                </div>
                <!--formulaire general-->
                <form  class="tout2" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!--div client-->
                    <div class="contenu">
                            
                                <div class="services">
                                    <h4>information client</h4>
                                    <center><hr></center>
                                    
                                        <label for="name">Nom du client</label>
                                        <input type="text" name="nom_client" value="{{client.name}}" id="name">
    
                                        <label for="number">telephone client</label>
                                        <input type="number" name="phone_client" value="{{client.phone}}" id="number">
    
                                        <label for="name1">Etudiant/Eleve</label>
                                        <select name="eleve" id="name1">
                                            {%if client.profession == 'etudiant'%}
                                            <option selected>oui</option>
                                            <option>non</option>
                                            {%else%}
                                            <option>oui</option>
                                            <option selected>non</option>
                                            {%endif%}
                                        </select>
                                    </div>
                              
                               
                        <!--div service-->
                      
                            
                            <div class="services">
                            <h4>information service</h4>
                            <center><hr></center>
                                
                                    <label for="serv">Nom du service</label>
                                    <input type="text" value="{{service.name}}" id="serv" name="nom_service">
    
                                    <label for="prix">Prix fixe</label>
                                    <input type="text" value="{{service.prix}} FCFA" id="prix"><br>
    
                                    <label for="cat">categorie du service</label>
                                    <input type="text" value="{{service.category}}" id="cat">
                                </div>
                            
                        </div>
                   {%if prestation%}
                   <h4>{{prestation}} crée avec succès</h4>
                    {%endif%}
                  
                <!--div prespation-->
                <div class="prestation">
                    <h4>information sur la prestation</h4>
                    <center><hr></center>
                    <label for="name">Nom du prestateur</label>
                    <input type="text" name="prestateur">

                    <label for="number">Montant net à payer</label>
                    <input type="number" name="amount">

                    <label for="text">Niveau de satisfaction</label>
                    <select name="satisfaction" id="">
                        <option>satisfait</option>
                        <option>insatisfait</option>
                        <option>très satisfait</option>
                        <option>minable</option>
                        <option>pas mal</option>
                    </select>

                    <label for="date">Date du jour</label>
                    <input type="date" name="date">

                    
                        </div>
                        <button type="submit">enregistrer</button>
                    </form>        
           
                </div>
            </main>
          </div>
        
      
   
    
</body>
</html>