{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=!, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <input type="checkbox" id="sidebar-toggle">

    {% include 'sidebar.html' %}
       <div class="main-content">
        <header>
            <form action="" method="" class="search-wrapper">
                <span class="ti-search"></span>
                <input type="search" placeholder="search">
            </form>
            <div class="social-icons">
                <span class="ti-bell"></span>
                <span class="ti-comment"></span>
                <div></div>
            </div>
           
        </header>
        <main>
                       
            <section class="recent">
                <div class="activity-grid">
                       
                    <div class="activity-card">
                      <div class="butu"> <div style="margin-bottom: 1rem;">  <button onclick="document.getElementById('id02').style.display='block'">Ajouter</button></div><br></div>
                       
                        <table>
                            <thead>
                                <tr>
                                    <th>intitule</th>
                                    <th>montant</th>
                                    <th>modifier</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in services %}
                                <tr>
                                        <td>{{item.name}}</td>
                                        <td>{{item.prix}}</td>
                                        <td><button><a href="md_service/{{item.id}}">modifier</a></button></td>


                                </tr>
                                {% endfor %}
                       
                            </tbody>
                        </table>
                    </div> 
               
                </div>


                  <div id="id02" class="modal">
                    <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">fermer</span>
                    <form class="modal-content" action="" method="post" enctype="multipart/form-data">
                      <div class="container">
                        <h6>Remplissez moi</h6>
                          {% csrf_token %}
                          {{form.as_p}}
                          <label for="name">Categorie</label>
                          <select name="" id=""></select>
                        <div class="clearfix">
                          <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
                          <button type="submit" class="signup">enregistre</button>
                        </div>
                      </div>
                    </form>
                  </div>

                  
            </section>

        </main>
       </div>
   
       <script>
        // Get the modal
        var modal = document.getElementById('id01');
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }

        // Get the modal
        var modal = document.getElementById('id02');
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }

        
        </script>
</body>
</html>