{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=!, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="{% static 'css/acceuil.css' %}">
    <title>Document</title>
</head>
<body>
    <input type="checkbox" id="sidebar-toggle">
    {% include 'sidebar.html' %}
       <div class="main-content">
        <header>
            <div class="search-wrapper">
                <span class="ti-search"></span>
                <input type="search" placeholder="search">
            </div>
            <div class="social-icons">
                <span class="ti-bell"></span>
                <span class="ti-comment"></span>
                <div></div>
            </div>
           
        </header>
        <main>
            <!--client start-->
          <div class="cards">
            <div class="card">
                <div class="cardsimg">
                  <img src="{% static 'img/images (1).jpg' %}" alt="">
                </div>
                <div class="cards-info">
                  <h2>{{clients}}</h2>
                  <small>Total clients</small>
                </div>
          </div>
      
       <!--client end-->

        <!--services start-->

     
            <div class="card">
                <div class="cardsimg">
                  <img src="{% static 'img/carte.jpg' %}" alt="">
                </div>
                <div class="cards-info">
                  <h2>{{services}}</h2>
                  <small>Total services</small>
              </div>
        </div>
       
       
      </div>

       <!--services end-->

       <div class="chart-grid">
        <div class="chart-follow">
          <div class="chart-saleheard">
            <h3>statistiques clients</h3>
          </div>
          <div id="myfirstchart" style="height: 250px;"></div>
        </div>

        <div class="chart-sales">
          <div class="chart-saleheard">
            <h3>statistiques services</h3>
          </div>
         
          <div id="donut-example" style="height: 250px;"></div>
        </div>
       </div>
      </main>
   </div>  


      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
      <script src="{% static 'js/acceuil.js' %}"></script>
   
    
</body>
</html>